CONFIG_PACKAGE_kmod-nf-conntrack-bridge=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_REQUIRE_IMAGE_SIGNATURE=y
CONFIG_PACKAGE_ucert=y
CONFIG_SIGN_FIRMWARE=y
CONFIG_SIGNED_PACKAGES=y
CONFIG_SIGN_EACH_PACKAGE=y
CONFIG_SIGNATURE_CHECK=y
CONFIG_DOWNLOAD_CHECK_CERTIFICATE=y
CONFIG_JSON_CYCLONEDX_SBOM=y
